{% extends "index.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>   
  </head>
<body >
  {% block contlog %}

  <div class="container d-flex justify-content-center align-items-center  bg-secondary vh-50" style="width: 345px; padding: 30px;border-radius: 20px;">
    <form action="" method="post" >
      {% csrf_token %}
      <h1 style="margin-left: 40px;">LOGIN</h1>
      <div class="input-box" >
        <input type="text" placeholder="Username" name="USERNAME" required style="border-radius: 7px; padding: 10px;">
        <i class='bx bxs-user'></i>
      </div>
      <br>
      <div class="input-box">
        <input type="password" placeholder="Password" name="PASSWORD" required style="border-radius: 7px;padding: 10px;">
        <i class='bx bxs-lock-alt' ></i>
      </div><br>
      <button type="submit" class="btn bg-primary outline-dark" style="margin-left: 50px;" style="border-radius: 7px;">Login</button>
    </form>
  </div>
  
  {% endblock contlog %}

</body>
</html>
