{% extends "index.html" %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% block contstd %}
    {% csrf_token %}
    <h1 class="text-center">STUDENT HOME PAGE</h1>
    <div class="container d-flex justify-content-center align-items-center bg-secondary " style="height: 150px;width: 600px;border-radius: 10px;font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;"> 
    <a class="btn btn-primary" href="teacherview" style="padding: 20px;margin-right: 30px;margin-left: 20px;">TEACHER VIEW</a>
    <a class="btn btn-warning" href="studentdata" style="padding: 20px;margin-right: 30px;margin-left: 20px;">STUDENT PROFILE</a>
    <a class="btn btn-success" href="studentedit" style="padding: 20px;margin-right: 40px;">STUDENT EDIT</a>
    <a class="btn btn-danger" href="logouts" style="padding: 20px;margin-right: 40px;">LOGOUT</a>
    {% endblock contstd %}
    </div>
</body>
</html>
